*{
	margin: 0;
	padding: 0;
	font-family: "Century Gothic", arial, Serif;
	color: #fff;
}

/* INFO */
.info{
	padding: 108px 195px 0px 195px;
	background-color: #000;
}

.info .nav-link{
	margin-left: 116px;
}

.info__border{
	border-bottom: 2px solid #F2F2F2;
}

.info__title{
	padding-top: 50px;
	font-size: 70px;
	text-transform: uppercase;
	font-weight: bold;
	width: 80%
}

.info__order{
	font-size: 34px;
	text-transform: uppercase;
	position: absolute;
	bottom: 350px;
	right: 400px;
	color: #000;
	background: #FCA574;
	padding: 32px 95px;
}

.info__word{
	font-size: 70px;
	text-transform: uppercase;
	color: #FCA574;
	position: absolute;
	bottom: -100px;
}

.info .row{
	position: relative;
	bottom: 100px;
}

.info .col-md-3{
	padding-top: 200px;
}

.info__number{
	font-size: 66px;
	padding-bottom: 73px;

}

.info__text{
	font-size: 24px;
	padding-left: 55px;
	padding-right: 40px;
}

.info__borderlr{
	border-left: 2px solid #F2F2F2;
	border-right: 2px solid #F2F2F2;
}

.info__borderl{
	border-left: 2px solid #F2F2F2;
}

/* SPEAKERS*/

/*.arrow {
      width: 40px;
      height: 40px;
      border-top: 4px solid #DFDDDE;
      border-right: 4px solid #DFDDDE;
  }   

  .right{
	transform: rotate(45deg);
  }

  .left{
  	transform: rotate(-135deg)
  }*/

.speakers{
	padding: 108px 195px 50px 195px;
	background-color: #000;
	position: relative;
}

.speakers__title{
	padding-top: 50px;
	font-size: 70px;
	text-transform: uppercase;
	border-top: 7px solid #FCA574;;
	width: 490px;
}

.speakers__border{
	background-color: rgba(50, 50, 50, 0.9);
	position: absolute;
	width: 409px;
	bottom: -40px;
	left: 370px;
}

#carousel_1{
	width: 70%;
	margin-bottom: 100px;
}

/* PROGRAM */

.program{
	padding: 108px 195px 50px 195px;
	background-color: #000;
}

.program__title{
	font-size: 82px;
	text-transform: uppercase;
	color: #FCA574;
}

.program__border{
	border: 7px solid #FCA574;
	width: 100%;
	padding-bottom: 100px;
	padding-left: 100px;
	padding-right: 107px;
	padding-top: 107px;
}

.program__header{
	padding-bottom: 20px;
}

.program__date{
	margin-left: 58px;
	font-size: 24px;
}

.program__border__white{
	border-bottom: 2px solid #DFDDDE;
	font-size: 24px;
	font-weight: 600;
	padding-top: 50px;
}

.program__gray{
	color: #F2F2F2;
	font-weight: 300;
}

.program__border__orange{
	border-bottom: 2px solid #FCA574;
	font-size: 24px;
	font-weight: 600;
	padding-top: 50px;
}

.program__border__orange p{
	color: #FCA574;
}

.program__pale{
	font-weight: 300;
}

/* GALARY */

.galary{
	padding: 108px 195px 50px 195px;
	background-color: #000;
	position: relative;
}

.galary__title{
	padding-top: 50px;
	font-size: 70px;
	text-transform: uppercase;
	border-bottom: 7px solid #F2F2F2;
	width: 490px;
}

.galary__date{
	margin-right: 30px;
	font-size: 24px;
}

#carousel_2{
	width: 60%;
}
/* CONTACTS */

.contacts{
	padding: 230px 195px 210px 195px;
	background-color: #000;
}

.contacts__title{
	padding-bottom: 140px;
	font-size: 70px;
	text-transform: uppercase;
	text-align: center;
	color: #FCA574;
}

.contacts__border{
	border: 7px solid #FCA574;
	width: 100%;
	padding-bottom: 100px;
	padding-left: 100px;
	padding-right: 120px;
	padding-top: 60px;
	height: 488px;
}

/* FOOTER */

.footer{
	padding: 85px 195px 85px 325px;
	background-color: rgba(50, 50, 50, 0.9);
}




/*@media (min-width: 576px) {

}


@media (min-width: 768px) {

}


@media (min-width: 992px) {

}


@media (max-width: 1200px) {

.info{
	padding: 108px 105px 0px 105px;
	background-color: #000;
}

.info .nav-link{
	margin-left: 56px;
}

.info__title{
	padding-top: 50px;
	font-size: 56px;
	text-transform: uppercase;
	font-weight: bold;
	width: 80%
}

}*/